[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"

[packages]
fastapi = "*"
uvicorn = "*"
passlib = "*"
jinja2 = "*"
aiofiles = "*"
databases = "*"
asyncpg = "*"
httpx = "*"
python-multipart = "*"
pydantic = {extras = ["email"],version = "*"}
psycopg2-binary = "*"
